@import "imports/variables.css";
main {
  background-image: url(../images/space.jpg);
  min-height: 600px;
  display: grid;
}
h1 {
  color: var(--blackish);
  margin-top: 0.5em;
  margin-bottom: 20px;
}
label {
  color: #fff;
}

.container {
  background-color: var(--whiteish);
  margin: auto;
  width: 90%;
  border-radius: 25px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-bottom: 25px;
  max-width: 1200px;
}

.games-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 20px;
  max-width: 1200px;
  margin-left: 2em;
}

@media (min-width: 1024px) {
  main {
    grid-template-columns: 20% 80%;
  }
} ;
