@import "imports/variables.css";
main {
  background-image: url(../images/space.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  min-height: 600px;
  display: grid;
}
main h1 {
  color: var(--blackish);
  margin-top: 0.5em;
}
label {
  color: #fff;
}

.container {
  background-color: var(--whiteish);
  margin: auto;
  width: 90%;
  border-radius: 25px;
  margin-top: 20px;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: 1;
  gap: 10px;
  padding-bottom: 25px;
}

@media (min-width: 1440px) {
  main {
    grid-template-columns: 20% 80%;
  }
} ;
