@import "imports/variables.css";

@media (min-width: 768px) {
  .product {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .buy-it {
    align-self: end;
    margin-left: 17%;
  }
  .product img {
    margin: auto;
  }
  .popular-ppage {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .cart {
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .flexwrap-success {
    flex-direction: row;
    justify-content: space-between;
  }
  .container {
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-evenly;
  }
  .topbar {
    grid-column: -1/1;
  }
}

@media (min-width: 1024px) {
  .product {
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 40px;
    max-width: 900px;
  }
  .buy-it {
    margin: 0 auto 0 auto;
  }
  #add-cart {
    margin-bottom: 1px;
  }
  .popular-ppage {
    grid-template-columns: repeat(3, 1fr);
  }
  .check-price {
    margin-top: 65px;
  }
  .sell-container {
    padding-left: 50px;
  }
  .flexwrap-sell {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 30px;
  }
  #gamesearch {
    height: 3em;
    margin-top: 20px;
  }
  .profile-contents {
    flex-direction: row;
  }
  .contacts-container {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: baseline;
    max-width: 1000px;
  }
  .about,
  .contact,
  .forms {
    max-width: 25%;
  }
  .container {
    grid-template-columns: repeat(3, 1fr);
    max-width: 928px;
  }

  .hamburger {
    display: none;
  }
  header {
    grid-template-columns: 60% 40%;
  }
  .wrapper {
    max-width: 35vw;
    height: 140px;
    display: grid;
    place-items: center;
    justify-items: end;
    grid-column-start: 2;
    grid-row-start: 1;
    margin-right: 20px;
  }

  .icons {
    display: flex;
    gap: 1rem;
    font-family: "Montserrat";
  }

  .icon__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .icon__item img {
    max-width: 40px;
    padding: 15px;
  }
  .icon__item a {
    text-decoration: none;
    color: #1d2540;
    font-size: 14px;
  }
  .button {
    margin: 0px 20px 0px 20px;
    max-width: 350px;
  }
  .buttontext-1,
  .buttontext-2 {
    position: absolute;
    top: 23%;
    left: 28%;
  }
  .buttontext-1 a,
  .buttontext-2 a {
    font-size: 28px;
  }

  .footerlogo {
    display: block;
  }
}

@media (min-width: 1300px) {
  header {
    grid-template-columns: 50% 50%;
  }
  .wrapper {
    margin: auto;
  }

  .button {
    margin: 0px 40px 0px 40px;
    max-width: 430px;
  }
  .buttontext-1,
  .buttontext-2 {
    position: absolute;
    top: 25%;
    left: 30%;
  }
  .buttontext-1 a,
  .buttontext-2 a {
    font-size: 33px;
  }

  .icon__item img {
    max-width: 60px;
    padding: 15px;
  }

  .logo {
    max-width: 250px;
    height: auto;
    margin: 25px;
  }
  .searchbar {
    margin-left: 280px;
  }
}

@media (min-width: 1440px) {
  .popular-ppage {
    grid-template-columns: repeat(4, 1fr);
  }

  .flexwrap-sell {
    grid-template-columns: repeat(4, 1fr);
  }

  .container {
    border-radius: 25px;
    margin-bottom: 10px;
    grid-column: 2;
  }

  .filter-label {
    display: none;
  }

  .hide {
    display: block;
  }

  .filtering {
    position: absolute;
    background-color: var(--whiteish);
    border-radius: 25px;
    width: 15%;
    top: 230px;
    left: 5%;
    margin-bottom: 10px;
  }
  .filtering label {
    color: var(--blackish);
  }
  .filtering h2 {
    color: var(--blackish);
  }
} ;
