@import "imports/variables.css";
main {
  background-image: url(../images/space.jpg);
  min-height: 600px;
  display: grid;
}
main h1,
main h2 {
  color: var(--blackish);
}
main h2 {
  font-size: 1em;
}

.profile-container {
  background-color: var(--white);
  width: 75%;
  margin: 30px auto;
  border-radius: 25px;
  max-width: 1000px;
}

.dummy {
  width: 80px;
  height: auto;
  background-color: var(--whiteish);
  padding: 10px;
  border-radius: 25px;
}
.profile-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px;
  justify-content: left;
  gap: 10px;
}

.profile-contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.address,
.payment,
.order-history {
  background-color: var(--whiteish);
  margin: 10px;
  border-radius: 10px;
  padding: 10px;
  max-width: 20em;
}
.ccinfo {
  display: flex;
  flex-direction: column;
  background-color: var(--blue);
  padding: 10px;
  margin: auto;
  border-radius: 10px;
  max-width: 15em;
  color: var(--white);
}

.cclabel {
  display: flex;
  flex-direction: column;
}
.linetwo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#expire,
#cvc {
  width: 3em;
}
#expire,
#cvc,
#ccard {
  border-radius: 5px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.buttons input {
  background-color: var(--blackish);
  color: #fff;
  border-radius: 5px;
  height: 2em;
}
