@import "imports/variables.css";
main {
  background-image: url(../images/homebackground.jpg);
  min-height: 600px;
  display: grid;
}
main h1,
main h2,
main h3 {
  color: var(--blackish);
  margin: 20px;
}
.container-search {
  background-color: var(--whiteish);
  margin: auto;
  width: 90%;
  border-radius: 25px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-bottom: 25px;
  max-width: 1200px;
}
.search-result {
  max-width: 350px;
}

.other-feature {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 10px;
  margin-left: 20px;
}
.featured {
  border-style: solid;
  border-color: var(--light-grey);
}

@media (min-width: 1024px) {
  main {
    grid-template-columns: 20% 80%;
  }
} ;
