@import "imports/variables.css";
main {
  background-image: url(../images/homebackground.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  min-height: 600px;
  display: grid;
}
main h1,
main h2,
main h3 {
  color: var(--blackish);
  margin: 20px;
}
.container-search {
  background-color: var(--whiteish);
  margin: auto;
  width: 90%;
  border-radius: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-bottom: 25px;
  max-width: 1200px;
}
.search-result {
  max-width: 350px;
}

.other-feature {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 10px;
  justify-content: left;
}

@media (min-width: 1440px) {
  main {
    grid-template-columns: 20% 80%;
  }
} ;
