h1,
h2,
h3,
li {
  font-family: "Montserrat";
  color: #fff;
  margin: 0px;
}
label,
input {
  font-family: "Montserrat";
}

body {
  margin: 0px;
  font-family: lato;
}
.featured h2,
.featured p {
  color: #1d2540;
}

li {
  list-style-type: none;
}

li a {
  text-decoration: none;
  color: var(--blackish);
}
header {
  display: grid;
  grid-template-columns: 80% 20%;
  grid-template-rows: 75% 25%;
  max-height: 200px;
}
nav {
  background-color: var(--whiteish);
  display: none;
  position: fixed;
  z-index: 1000;
  right: 0px;
  top: 95px;
  right: 50px;
  border-radius: 15px;
  border-style: solid;
  border-color: var(--blue);
}
nav li {
  display: block;
  padding: 20px 20px;
}
nav ul {
  padding: 10px;
}

nav ul li:hover {
  background-color: var(--light-grey);
}

.hamburger {
  margin-top: 20px;
  align-self: center;
  margin-left: 35%;
}

#hamburger-menu {
  display: none;
}

#hamburger-menu:checked ~ nav {
  display: block;
}

.label {
  background-image: url(../images/hamburger.png);
  background-repeat: no-repeat;
  display: inline-block;
  cursor: pointer;
  padding: 22px;
  justify-content: center;
}

.searchbar {
  height: 40px;
  border-radius: 23px;
  border-color: #1d2540;
  border-width: 4px;
  font-size: 22px;
  font-family: "Montserrat";
  grid-column-start: 1;
  grid-row-start: 2;
  margin-left: 10%;
  padding-left: 15px;
  display: inline-block;
  height: 1.5em;
}

#searchicon {
  border-style: hidden;
  background: none;
  grid-column-start: 1;
  grid-row-start: 2;
  justify-self: end;
  z-index: 2;
  width: 50px;
  height: 50px;
}
#searchicon img {
  height: 2.4em;
  margin-bottom: 3px;
  margin-right: 7px;
}
.wrapper {
  display: none;
}

.featured {
  background: #fff;
  max-width: 270px;
  margin: auto;
  border-radius: 20px;
  display: grid;
  grid-template-columns: 35px 35px auto 50px 20px;
  grid-template-rows: 159px 30px 20px 15px 60px;
  grid-gap: 5px;
}
.item-a {
  height: 128px;
  width: auto;
  grid-column-start: 3;
  justify-self: center;
  align-self: center;
}

.item-b {
  grid-column-start: 2;
  grid-row-start: 2;
  justify-self: start;
  align-self: center;
}

.item-c {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 3;
  justify-self: start;
  align-self: center;
}

.item-d {
  grid-column-start: 2;
}

.item-e {
  grid-column-start: 2;
  grid-row-start: 5;
  font-size: 30px;
  justify-self: start;
  align-self: center;
}

.item-f {
  grid-column-start: 3;
  grid-row-start: 5;
  justify-self: end;
  align-self: center;
}

.item-g {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 5;
  justify-self: end;
  align-self: center;
}

.filter-label {
  background-image: url(../images/filter.png);
  display: inline-block;
  background-repeat: no-repeat;
  padding: 22px;
  margin-top: 1em;
  margin-right: 10px;
}
#filter-menu {
  display: none;
}

.filtering {
  position: fixed;
  left: 0px;
  bottom: 0px;
  padding: 10px;
  background-color: var(--blue);
  width: 100%;
  display: flex;
  flex-direction: column;
  z-index: 10;
  border-radius: 35px 35px 0 0;
  max-height: 600px;
  max-width: 280px;
}
.filtering input {
  width: 2em;
}
.filtering h2,
h1 {
  margin-left: 1em;
}
.hide {
  display: none;
}
#filter-menu:checked ~ .hide {
  display: block;
}

.checkmark {
  display: flex;
}
.topbar {
  display: flex;
  justify-content: space-between;
}

.logo {
  max-width: 150px;
  height: auto;
  margin: 25px;
}

footer {
  background-color: var(--dark-grey);
}
.footerlinks {
  display: flex;
  margin: 10px;
  place-content: space-evenly;
}

.footerlogo {
  max-width: 300px;
  height: auto;
  display: none;
}

footer p {
  color: #fff;
  font-family: lato;
  margin: 15px;
}

footer h2 {
  margin-left: 15px;
}

footer li {
  position: relative;
  right: 30px;
}

footer li a {
  color: #fff;
}

.copyright {
  text-align: center;
}
.copyright a {
  font-size: 8px;
}
