@import "imports/variables.css";

body {
  background: gray;
}
#buy,
#sell {
  border-radius: 5px;
  width: 12em;
  font-size: 1.2em;
  height: 2em;
  background: var(--linear);
  box-shadow: inset 0 0 0 1.5px var(--white);
  border: 3px solid var(--blackish);
  color: #fff;
  cursor: pointer;
}
